---
import { getOffresinfprix } from '../../../backend.mjs';
import Layout  from '../../../layouts/Layout.astro';
import OffreCard from '../../../components/OffresCard.astro';

const { prix } = Astro.params;
const offres = await getOffresinfprix(prix);

---

<Layout title="Offres">
     <h1 class="text-4xl font-black bg-gradient-to-r from-orange-600 bg-clip-text text-transparent drop-shadow-2xl mb-8 text-center">
      Offres disponibles inférieures à {prix} €
    </h1>
    
  
  <div>
    {offres.map((offre) => 
      <div class="offre" data-prix={offre.prix.toString()}>
        <OffreCard offre={offre} />
      </div>
    )}
  </div>
</Layout>