---
import "../../styles/global.css";
import OffreCard from "../../components/OffresCard.astro";
import { getOffres, getOffresSupSurface } from "../../backend.mjs";
import Layout from "../../layouts/Layout.astro";


const offres = await getOffres();
const surfaces= await getOffresSupSurface(80);

---

<Layout title="Offres">
  <h1>Offres disponibles</h1>
  <a href="/offres/surface/80">Voir les offres supérieures à 80 m²</a>
  <button id="favori-button" class="bg-slate-600 rounded-lg text-white p-2">Afficher les favoris</button>
  
  <div>
    {offres.map((offre) => 
      <div class="offre" data-favori={offre.favori.toString()}>
        <OffreCard offre={offre} />
      </div>
    )}
  </div>
</Layout>


<script>
    //@ts-nocheck
    const button = document.getElementById('favori-button');
    let showOnlyFavorites = false;
    
    button?.addEventListener('click', () => {
        showOnlyFavorites = !showOnlyFavorites;
        const offres = document.querySelectorAll('.offre');
        
        offres.forEach(offre => {
            const isFavori = offre.dataset.favori === 'true';
            
            if (showOnlyFavorites) {
                offre.style.display = isFavori ? '' : 'none';
                button.textContent = 'Afficher tout';
            } else {
                offre.style.display = '';
                button.textContent = 'Afficher les favoris';
            }
        });
    });
</script>


